.btn-pay{
    background: #24262b;
    color: #fff;
    font-weight: bold;
    &:hover{
        color: white;
    }
}
.tk-name{
    font-size: 24px;
    color: red;
}
.phone-number{
    font-size: 20px;
    color: rgb(189, 141, 38);
}