.container-app{
    display: flex;
    padding-top: 64px;
    .content-app{
        padding-left: 280px;
        background-color: #171C24;
        width: 100%;
        height: 100%;
    }
}
.main-wrapper{
    .navbar{
        width: 100%;
        left: 0;
    }
    .d-flex.align-items-center.flex-wrap.text-nowrap {
        display: flex;
        flex-wrap: nowrap !important;
    }
}